html{
  height: 100%;
}
.fundodestaques {
  background-color: #CFE7E8;
  display:inline-block;
  color:black;
  margin-bottom: 10px; 
}
.header {
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}
.container{
  background: #CFE7E8(255, 255, 255); /*fundo*/ 
}
body{
  background: url(fundocinema1.jpg) center;
}
.btn1{
  text-align:right; 
  width:100%; 
  padding: 15px 0 15px 0;
  margin-top: 2px;
}
.jumbotron {
  background: url(cinemao.jpg) center;
  margin-top: 10px;
  margin-left: 10px;
}
.noticias {
  color: white;
}
h12 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pesquisa {
  text-align: right;
  padding: 10px;
}
.pesquisar{
  margin-top: 20px;
  width: 100%;
  top: 15px;

}
.dest{
  color: #8FA0A1;
  padding: 10px;
  
  margin-top: 20px;
  background: #ccc;
  box-sizing: 10px;
}
.header_area {
  padding: 20px; 
}
.menu_area{
  margin-top: 30px;
}
.menu_area nav a{
 
  color: white;
  margin-bottom: 10px;

}

#botao {
  color: blue;
  border: 1px solid blue;
}


.active{
  background-color: #8FA0A1 !important;
}
.logo {
  width: 150px;  
}

.poster{
  height: 400px;
}
.carousel-item{
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}
.row {
  padding: 20px;
}

.fundodestaques{
  background: #8FA0A1;
  height: 450px;
  width: 200px;
  display: flex;
  align-items: center;  
}

.card-img-top{
  height: auto;
  max-width: 200px;
}
.d-block img{
  height: auto;
  max-width: 400px;
  width: 100%;
}
.post-title {
  text-align: center;
}
.post-top {
  text-align: center;
}
.modal-title{
  color: white;
  text-align: center;
}
.modal-body img{
  width: 100%;
}
.footer {
  margin-top: 10px;
  background: #8FA0A1;
  color:white;
}
.footer_area{
  padding: 20px;
  text-align: center;
}

#imagens {
  width: 50%;
}

/*Destaques*/
.destaques{
  background: #8FA0A1;
  margin-bottom: 20px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 0px;
}

/*Localização*/
.display-4 {
  color: rgb(255, 255, 255);
}
.localiz {
  color: rgb(255, 255, 255);
}
.local {
  color:rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*CSS Menu Mobile - Inicio*/
#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}

/*CSS Menu Mobile - Fim*/
@media screen and (max-width: 600px) {
 
  .fundodestaques{
    width: 100%;
    margin: 5px;
  }  
}
.oi { 
  display: flex;
  
  /*Sugestion: */
  overflow: hidden;
  
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  
 }
 .logo { 
   color: white;
   font-size: 26px;
   text-transform: uppercase;
   letter-spacing: 5px;
 }

 a.logo {
   text-decoration: none;

 }

 a:hover.logo {
  text-decoration: none;
  color: white;
}


 nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: system-ui;
   background:  #8FA0A1;
   height: 8vh;
 }


 .oi2 { 
  display: center;
 }
 .nav-list {
   color: white;
	 
  list-style: none;
  /*Invalid: display: flex;*/	   
}
.nav-list li { 
  letter-spacing: 3px;
  margin-left: 32px;
  /*Sugestion:*/
  display: inline;
}
.modal-footer {
  color: white;
}

.nav-list li a { 
  text-decoration: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.nav-list li a:hover { 
color: blue;
}

.mb-0 {
  color: black;
  padding-bottom: 10px;
}

.card-text {
  color: black;
}

